body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    padding: 0px 32px;
}

.header1 {
    display: flex;    
    justify-content: space-between;
    align-items: center;
}

.header2 {
    display: flex;
    align-items: center;
    gap: 16px;
}

.pictures {
    display: flex;
    justify-content: space-evenly;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picture {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picture h2 {
    font-size: 24px;
}

.picture p {
    text-align: center;
}

.picture img {
    border: solid 1px;
    border-radius: 20%;
    border-color: black;
}

.quote {
    font-style: italic;
    background-color: rgb(247, 222, 226);
    padding: 32px;
    font-size: 24px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgrey;
}

.buy {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: solid 2px;
    border-radius: 24px;
    margin: 32px;
    padding: 32px;
} 
.buy_text {

 }

button {
    height: 30px;
    flex-shrink: 0;
}

a {
    text-decoration: 0;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 16px;

}
